- @user_stats.group_by(&:body_part).each do |part, stats|
  %h3= part.name
  = form_tag(user_stats_path, :remote => true, :id => 'edit_user_stats') do
    - stats.each do |stat|
      = fields_for "user_stats[]", stat do |f|
        = field_set_tag stat.name, :id => stat.name do
          %p.number
            = f.label :current_value, 'Current'
            %br/
            = f.text_field :current_value, :class => 'number'
            = stat.unit
          %p.number
            = f.label :goal_value, 'Goal'
            %br/
            = f.text_field :goal_value, :class => 'number'
            = stat.unit
          %p
            = f.label :is_goal, 'Make goal?'
            = f.check_box :is_goal
    = submit_tag 'Update'
