- content_for :head do
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise'

- content_for :foot do
  = javascript_include_tag 'flowplayer'

- content_for :main_content do
  #landing-page
    %h1 Can you live past 100 years old?
    #left-col
      = link_to '', '/videos/bluey.flv', :id => 'video'
      = link_to 'Download in HD', '/videos/bluey.mov', :id => 'hd-video'
      :javascript
        $(document).ready(function() {
          $f('video', {src: '/videos/flowplayer-3.2.7.swf', wmode: 'transparent'});
        });
    #right-col
      #alpha
      = link_to 'Sign up', new_user_registration_path, :id => 'sign-up'
      %p 
        Already registered?
        = link_to 'Sign in', new_user_session_path, :id => 'sign-in'
    %ol
      %li Sign up using an email address
      %li Sign in to answer a few questions about your health and fitness goals
      %li 
        We will recommend people to you to help you start building your health
        and fitness community
