%section
  = link_to 'Edit password and email', edit_user_registration_path, :class => 'edit-email button'
  = image_tag '', :class => 'large-picture'
  %section#name-and-summary
    %h1= on_the_spot_edit @user_profile, :name, :url => '/user_profiles/update_attribute_on_the_spot', :tooltip => 'Click here to update your name'
    %p.summary= on_the_spot_edit @user_profile, :summary, :url => '/user_profiles/update_attribute_on_the_spot', :type => :textarea, :tooltip => 'Click here to edit your summary'
  %ul.badges
    %li Hi

%section
  %ul#user-tabs
    %li= link_to 'Foundation', '', :class => 'selected', :name => 'foundation'
    %li= link_to 'Body Stats', ''
    %li= link_to 'Health Stats', ''
    %li= link_to 'Pictures', ''

  .user-forms
    = form_for @user_profile do |f|
      = field_set_tag 'I am' do
        %em select all that apply
        %p
      = field_set_tag 'I want' do
        %em select all that apply
        %p
      = field_set_tag 'Where I live' do
        %p
          = f.label :country
          %br/
          = f.country_select :country
        %p
          = f.label :city
          %br/
          = f.text_field :city
      %p= f.submit 'Save'
