#user-profile
  %section
    = image_tag 'default-profile.png', :class => 'large-picture', :id => 'profile-picture'
    #user-info
      %h1= on_the_spot_edit @user_profile, :name, :url => '/profile/quickedit', :tooltip => 'Click here to update your name'
      %p.summary= on_the_spot_edit @user_profile, :summary, :url => '/profile/quickedit', :type => :textarea, :tooltip => 'Click here to edit your summary'
    %ul.badges
      %li= image_tag 'badges/ace.png', :alt => 'Ace certified'

  %section
    = link_to 'Cancel my account', user_registration_path, :confirm => 'Are you sure you want to cancel your account?', :method => :delete, :class => 'edit-email'
    = link_to 'Edit email & password', edit_user_registration_path, :class => 'edit-email'
    %ul#user-tabs
      %li.selected= link_to 'Foundation', '', :name => 'foundation'
      %li= link_to 'Body Stats', ''
      %li= link_to 'Health Stats', ''
      %li= link_to 'Pictures', user_images_path(current_user.id), :name => 'pictures'

    .user-forms
      #foundation.user-form
        = form_for @user_profile, :url => "/profile" do |f|
          = render 'shared/form_errors', :object => @user_profile
          = field_set_tag 'I am:' do
            %em.hint select all that apply
            %ul
              - for user_type in UserType.all
                %li
                  = check_box_tag "user_profile[user_type_ids][]", user_type.id, @user_profile.user_types.include?(user_type),
                      :id => "user_type_id_#{user_type.id}"
                  = label_tag "user_type_id_#{user_type.id}", user_type.name
          = field_set_tag 'I want to:' do
            %em.hint select all that apply
            %ul
              - for user_want in UserWant.all
                %li
                  = check_box_tag "user_profile[user_want_ids][]", user_want.id, @user_profile.user_wants.include?(user_want),
                    :id => "user_want_id_#{user_want.id}"
                  = label_tag "user_want_id_#{user_want.id}", user_want.name
          = field_set_tag 'Where I live:' do
            %p
              = f.label :country
              %br/
              = f.country_select :country
            %p
              = f.label :city
              %br/
              = f.text_field :city
          = field_set_tag 'Birthday:' do
            %p
              = f.label :dob, 'Date of birth'
              %br/
              = f.date_select :dob, :order => [:day, :month, :year], :start_year => Time.now.year - 70
          = field_set_tag 'Extra information:' do
            %p
              = f.label :gym
              %br/
              = f.text_field :gym
            %p
              = f.label :sports
              %br/
              = f.text_area :sports
            %p
              = f.label :brands, "Favourite brands"
              %br/
              = f.text_area :brands
          %p= f.submit 'Save'
      #loaded-form.user-form
