<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user_profile.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @user_profile.summary %>
</p>

<p>
  <b>City:</b>
  <%= @user_profile.city %>
</p>

<p>
  <b>Country:</b>
  <%= @user_profile.country %>
</p>


<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
