%li.plan-item
  %header
    = check_box_tag plan_item.name, plan_item.id, plan_item.completed
    = plan_item.name
  %section
    %ul
      - plan_item.plan_item_sets.each_with_index do |set, idx|
        %li= "Set #{idx + 1}: #{set.measurements}"
