= render :partial => 'context_bar'
%h2 Create an exercise plan
= nested_form_for @plan do |f|
  = render 'shared/form_errors', :object => @plan
  %p
    = f.label :name
    %br/
    = f.text_field :name, :class => 'wide'
  %p
    = f.label :description
    %br/
    = f.text_area :description, :class => 'small wide'
  %p=link_to "Add a day to this plan", :class => 'button', :id => 'add-day'
  %p
    = f.submit 'Create'
