= load_controller_js

= render :partial => 'context_bar'
= link_to '&laquo; My plans'.html_safe, plans_path
#plan
  %h1= on_the_spot_edit @plan, :name
  %p#description= on_the_spot_edit @plan, :description, :type => :textarea
  %hr
  .plan-days
    - if @plan.days.empty?
      %em#no-days No days have been added to this plan yet!
    - else
      = render @plan.days
  %p=link_to "Add a day", plan_days_path(@plan), :class => 'button', :remote => true, :method => :post
